<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arces.logmedown">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="android.app.default_searchable"
            android:value=".SearchResultActivity" />

        <activity android:name="com.logmedown.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.logmedown.activity.SignUpActivity" />
        <activity android:name="com.logmedown.activity.HomeActivity" />
        <activity android:name="com.logmedown.activity.NoteActivity" />
        <activity android:name="com.logmedown.activity.BlocActivity" />
        <activity android:name="com.logmedown.activity.NoteViewActivity" />
        <activity android:name="com.logmedown.activity.SearchResultActivity" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="com.logmedown.activity.BlocAddActivity"></activity>
    </application>

</manifest>
